* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: "HARRYP";
    src: url(../fonts/HARRYP__.TTF);
    font-weight: normal;
    font-style: normal;
}



body {
    background-color: #808080; /* Fond gris */
    color: #fff;
    font-family: Arial, sans-serif;
}

                    /*HEADER*/

header {
    background-color: grey;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content .logo {
    width: 120px;
    height: 60px;
    margin: 0 20px;
}

h1 {
    font-size: 70px;
    font-family: "HARRYP";
    margin: 0;
}

                /*main disposition*/

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blasons-container {
    display: flex;
    flex-direction: column;
}

.blason-row {
    display: flex;
    align-items: center; /* Alignement des éléments sur une ligne */
    margin-bottom: 10px;
}

.blason-row img, .blason-row .input, .blason-row .plus {
    margin-right: 10px;
}
/*Au dessus je met une margin- droite à chaque élément de ma ligne*/

.blasons img {
    width: 100px;
    height: 100px;
}

.input {
    width: 900px; /* Définit la largeur des inputs */
    height: 10px;
    background-color: #fff;
    border: 1px solid;
}

.plus {
    width: 150px;
    height: 150px;
    cursor: grab;   
    /*Change le curseur en un grab, lorsque l'on passe la souris sur les éléments de la class .plus*/
}

.classement-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

h2 {
    font-size: 60px;
    font-family: "HARRYP";
    margin-bottom: 80px;
    align-self: flex-start; /* S'aligne avec le premier blason */
}

.resultats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.resultats img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

button {
    background-color: #808080; 
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: grab;
    border-radius: 4px; 
}

button:hover {
    background-color: #45a049; /*vert au survol*/
}



    





